<div class="col-md-2 bg-color-contacts pt-5">
    <div class="row ms-3 me-3 mt-5">
        <input class="form-control radius-20 input-join" type="text" placeholder="Input Meeting ID">
    </div>
    <div class="row ms-3 me-3 mt-4">
        <button type="button" class="btn btn-primary meeting-button-join"><i class="fas fa-users"></i> Join meeting</button>
    </div>
    <div class="row ms-5 me-5 mt-3 mb-5">
        <button type="button" class="btn btn-primary meeting-button-join-add"><i class="fas fa-users-cog"></i> Add </button>
    </div>
    <div class="row">
        <h6 class="oppacity-50 mt-2 mb-3">Meetings</h6>
    </div>
    <div class="row ms-2 mt-2">
        <ul class="font-list">
            <li class="mb-4"><a href="" class="meeting-save ">Pirmas <i class="fas fa-arrow-circle-right"></i></a></li>
            <li class="mb-4"><a href="" class="meeting-save ">Antras <i class="fas fa-arrow-circle-right"></i></a></li>
            <li class="mb-4"><a href="" class="meeting-save ">Trecias <i class="fas fa-arrow-circle-right"></i></a></li>
            <li class="mb-4"><a href="" class="meeting-save ">Ketvirtas <i class="fas fa-arrow-circle-right"></i></a></li>
            <li class="mb-4"><a href="" class="meeting-save ">Penktas <i class="fas fa-arrow-circle-right"></i></a></li>
        </ul>
    </div>
</div>