<div class="col-md-2 bg-color-menu pt-3">
    <div class="row justify-content-center mb-5 ">
        <div class="col-sm-12 ">
            <div class="text-center">
                <a href="index.html"><img src="style/svgs/Logo.svg" alt="Unum Totus"></a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-sm-12 ">
            <div class="text-center">
                <a href="index.html" class="btn btn-primary btn-sm btn-color text-center" role="button"><i class="fas fa-home"></i> Home</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3 ">
        <div class="col-sm-12 ">
            <h4 class="text-font-bold text-color text-center"> Menu </h4>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-sm-12 ps-5">
            <ul class="no-bullets menu-font">
                <li class="mb-4"><a href="crypto.html" class="menu-style"><i class="fab fa-bitcoin"></i> Crypto </a></li>
                <li class="mb-4"><a href="todo.html" class="menu-style"><i class="fas fa-th-list"></i> To do list </a></li>
                <li class="mb-4"><a href="weather.html" class="menu-style"><i class="fas fa-cloud-sun"></i> Weather </a></li>
                <li class="mb-4"><a href="updates.html" class="menu-style"><i class="fas fa-wrench"></i> Updates </a></li>
                <li class="mb-4"><a href="news.html" class="menu-style"><i class="fas fa-newspaper"></i> News </a></li>
                <li class="mb-4"><a href="calendar.html" class="menu-style"><i class="fas fa-calendar-alt"></i> Calendar </a></li>
                </ul>
        </div>
    </div>
</div>