<div class="row ps-5 pe-5 mt-2 mb-4 justify-content-end">
    <div class="col-sm-2 border">
    Logo
    </div>
    <div class="col-sm-2 border">
        Rokas	<!-- getElementById[] Grabs name from database -->
    </div>
    <div class="col-sm-3 border">
        Drop Down Menu
    </div>
</div>
<div class="jumbotron jumbo-style">
    <div class="container pb-1">
        <h1 class="mb-0 text-color text-font-bold">Hi, <span class="text-color-p">Rokas</span></h1>      
        <h2 class="mb-0 text-color text-font-bold">Glad to have <span class="text-color-p">you</span> back</h3>
        <h3 class="mb-0 text-color text-font-bold">Are <span class="text-color-p">you </span>ready to start <span class="text-color-p">your</span> day?</h5>
    </div>
</div>