<h6 class="mt-5 mb-5 oppacity-50">Owerview</h6>
<div class="row mb-3 ms-5  justify-content-center">	
    <div class="col-sm-3   ms-3 me-3 rounded" >
        <a href="crypto.html" class="btn btn-primary btn-lg btn-color-menu-1 mb-3 text-font-bold pt-4" role="button"><i class="fab fa-bitcoin size-icon"></i> Crypto</a>
    </div>
    <div class="col-sm-3    ms-3 me-3 rounded" >
        <a href="todo.html" class="btn btn-primary btn-lg btn-color-menu-2 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-th-list size-icon"></i> <br> To Do List</a>
    </div>
    <div class="col-sm-3    ms-3 me-3 rounded">
        <a href="weather.html" class="btn btn-primary btn-lg btn-color-menu-3 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-cloud-sun size-icon"></i> Weather</a>
    </div>
</div>

<div class="row mb-5  ms-5 justify-content-center">	
    <div class="col-sm-3  ms-3 me-3 rounded " >
        <a href="updates.html" class="btn btn-primary btn-lg btn-color-menu-1 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-wrench size-icon"></i> Updates</a>
    </div>
    <div class="col-sm-3  ms-3 me-3 rounded" >
        <a href="news.html" class="btn btn-primary btn-lg btn-color-menu-2 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-newspaper size-icon"></i> News</a>
    </div>
    <div class="col-sm-3  ms-3 me-3 rounded" >
        <a href="calendar.html" class="btn btn-primary btn-lg btn-color-menu-3 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-calendar-alt size-icon"></i> Calendar</a>
    </div>
</div>