<div class="col-md-3 bg-color-contacts pt-4">
    <div class="row justify-content-center">	
        <div class="col-sm-12">
            <img src="style/svgs/Logo5.svg" alt="Logo">
        </div>	
        <div class="margin-top-con">
            <div class="row justify-content-center">
                <div class="col-sm-8 mb-5 text-center">
                    <input id="room-input" class="form-control radius-20 input-join text-center" type="text" placeholder="Input Meeting ID">
                </div>
            </div>
            <div class="col-sm-12 text-center mb-3">
                <a href="#" id="create-room" class="btn btn-primary btn-lg btn-call-1 mb-3 text-font-bold pt-4 me-3 text-call" role="button"><i class=" ms-1 fas fa-video size-icon-call mb-2"></i><br> New Call</a>
                <a href="#" id="join-room" class="btn btn-primary btn-lg btn-call-2 mb-3 text-font-bold pt-4 me-3 text-call" role="button"><i class="fas fa-plus-square size-icon-call mb-2"></i><br> Join Call</a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#" class="btn btn-primary btn-lg btn-call-2 mb-3 text-font-bold pt-4 me-3 text-call" role="button"><i class="fas fa-calendar-plus size-icon-call mb-2"></i><br> Schedule</a>
                <a href="#" class="btn btn-primary btn-lg btn-call-2 mb-3 text-font-bold pt-4 me-3 text-call" role="button"><i class="fas fa-external-link-square-alt size-icon-call mb-2"></i><br> Share</a>
            </div>
        </div>	
        
    </div>
</div>