<div class="col-md-1 bg-color-menu pt-3">
    <div class="row justify-content-center mb-5">
        <div class="col-sm-12 pt-3 text-center">
            <ul class="no-bullets menu-font">
                <li><a href="/" class="menu-style font-size-menu-home"><i class="fas fa-home size-icon-menu"></i><br> Home </a></li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-sm-12 text-center">
            <ul class="no-bullets menu-font">
                <li class="mb-4"><a href="crypto" class="menu-style font-size-menu"><i class="fab fa-bitcoin size-icon-menu"></i><br> Crypto </a></li>
                <li class="mb-4"><a href="todo" class="menu-style font-size-menu"><i class="fas fa-th-list size-icon-menu"></i> <br>To do list </a></li>
                <li class="mb-4"><a href="weather" class="menu-style font-size-menu"><i class="fas fa-cloud-sun size-icon-menu"></i><br> Weather </a></li>
                <li class="mb-4"><a href="notes" class="menu-style font-size-menu"><i class="fas fa-sticky-note size-icon-menu"></i><br> Notes </a></li>
                <li class="mb-4"><a href="news" class="menu-style font-size-menu"><i class="fas fa-newspaper size-icon-menu"></i><br> News </a></li>
                <li class="mb-4"><a href="calendar" class="menu-style font-size-menu"><i class="fas fa-calendar-alt size-icon-menu"></i><br> Calendar </a></li>
                </ul>
        </div>
    </div>
</div>