<div class="jumbotron jumbo-style">
    <div class="container pb-1">
        <h1 class="mb-0 text-color text-font-bold">Calendar</h1>      
        <h2 class="mb-0 text-color text-font-bold">Take a look at<span class="text-color-p"> your</span> day,</h2>
        <h3 class="mb-0 text-color text-font-bold">month, or even a year. Dont forget what <span class="text-color-p"> you</span> are up to.</h3>
    </div>
</div>
CALENDAR HERE