<div class="jumbotron jumbo-style">
    <div class="container pb-1">
        <h1 class="mb-0 text-color text-font-bold">Crypto <span class="text-color-p">Currencies</span></h1>      
        <h2 class="mb-0 text-color text-font-bold">This is where<span class="text-color-p"> you</span> can find</h2>
        <h3 class="mb-0 text-color text-font-bold"><span class="text-color-p"> everything</span> you are interested too.</h3>
    </div>
</div>
CRYPTO STUFF HERE