<div class="row mb-2">
  <div class="col-sm-12">
    <h1>Crypto</h1>
    <button class="d-inline btn btn-md btn-success" id="track-crypto">Add crypto</button>
    <hr />
  </div>
  <div class="row" id="crypto-container">
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="js/crypto.js"></script>