<div class="col-sm-5 left-style">
    <div class="row mb-4 mt-5">
        <div class="col-sm-12 text-center mb-5 mt-5">
            <h1 class="bold">Log In</h1>
        </div>
    </div>
    <form method="POST" action="/api/login">
        <div class="row justify-content-center">
                <div class="col-sm-8 mb-3 mt-2 ">
                    <input class="form-control input-style" name="username" type="text" placeholder="E-mail">
                </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-8 ">
                <input class="form-control input-style" name="password" type="password" placeholder="Password">
            </div>
        </div>
        <div class="row justify-content-center mt-2">
                <div class="col-sm-4 text-start">
                    <a href="#" class="forgot-link">Forgot password?</a>
                </div>
                <div class="col-sm-4 text-end">
                    <a href="register" class="forgot-link">Not a member yet?</a>
                </div>
        </div>
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-sm-3 text-center mb-5">
                <button class="bord sign-button" type="submit">Sign In</button>
            </div>   
        </div>
    </form>
    <div class="row justify-content-start ">
        <div class="col-sm-5 mt-5 mb-3"> 
            <a href="register" class="create-link">Create a new account</a>
        </div>   
    </div>
</div>
<script type="module" src="js/login.js"></script>