<div class="jumbotron jumbo-style">
    <div class="container pb-1">
        <h1 class="mb-0 text-color text-font-bold">Hi, <span class="text-color-p">{{session.firstname}}</span></h1>      
        <h2 class="mb-0 text-color text-font-bold">Glad to have <span class="text-color-p">you</span> back</h3>
        <h3 class="mb-0 text-color text-font-bold">Are <span class="text-color-p">you </span>ready to start <span class="text-color-p">your</span> day?</h5>
    </div>
</div>
<h6 class="mt-5 mb-5 oppacity-50">Overview</h6>
<div class="row mb-3 ms-5  justify-content-center">	
    <div class="col-sm-3   ms-3 me-3 rounded" >
        <a href="crypto" class="btn btn-primary btn-lg btn-color-menu-1 mb-3 text-font-bold pt-4" role="button"><i class="fab fa-bitcoin size-icon"></i> Crypto</a>
    </div>
    <div class="col-sm-3    ms-3 me-3 rounded" >
        <a href="todo" class="btn btn-primary btn-lg btn-color-menu-2 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-th-list size-icon"></i> <br> To Do List</a>
    </div>
    <div class="col-sm-3    ms-3 me-3 rounded">
        <a href="weather" class="btn btn-primary btn-lg btn-color-menu-3 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-cloud-sun size-icon"></i> Weather</a>
    </div>
</div>
<div class="row mb-5  ms-5 justify-content-center">	
    <div class="col-sm-3  ms-3 me-3 rounded " >
        <a href="notes" class="btn btn-primary btn-lg btn-color-menu-1 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-sticky-note size-icon"></i> Notes</a>
    </div>
    <div class="col-sm-3  ms-3 me-3 rounded" >
        <a href="news" class="btn btn-primary btn-lg btn-color-menu-2 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-newspaper size-icon"></i> News</a>
    </div>
    <div class="col-sm-3  ms-3 me-3 rounded" >
        <a href="calendar" class="btn btn-primary btn-lg btn-color-menu-3 mb-3 text-font-bold pt-4" role="button"><i class="fas fa-calendar-alt size-icon"></i> Calendar</a>
    </div>
</div>