<div class="jumbotron jumbo-style">
    <div class="container pb-1">
        <h1 class="mb-0 text-color text-font-bold">News</h1>      
        <h2 class="mb-0 text-color text-font-bold">Place where<span class="text-color-p"> you</span> can find</h2>
        <h3 class="mb-0 text-color text-font-bold"><span class="text-color-p"> information</span> about what happend around the<span class="text-color-p">  globe</span>.</h3>
    </div>
</div>
FETCHED NEWS HERE