<div class="col-sm-5 left-style">
    <div class="row mb-4 mt-5">
        <div class="col-sm-12 text-center mb-5 mt-5">
            <h1 class="bold">Register</h1>
        </div>
    </div>
    <form method="POST" action="api/register">
    <div class="row justify-content-center">
        <div class="col-sm-8 mb-3 mt-2 ">
            <input class="form-control input-style" name="username" type="text" placeholder="username">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 mb-3 mt-2 ">
            <input class="form-control input-style" name="email" type="email" placeholder="E-mail">
        </div>
    </div>
    <div class="row justify-content-center">
            <div class="col-sm-8 mb-3 mt-2 ">
                <input class="form-control input-style" name="firstname" type="text" placeholder="Name">
            </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 mb-3 mt-2 ">
            <input class="form-control input-style" name="lastname" type="text" placeholder="Surname">
        </div>
        </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 mb-3 mt-2">
            <input class="form-control input-style" name="password" type="password" placeholder="Password">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 mt-2">
            <input class="form-control input-style" name="password2" type="password" placeholder="Repeat password">
        </div>
    </div>
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-sm-3 text-center mb-5">
            <button type="submit" class="bord sign-button">Register</button>
        </div>   
    </div>
    </form>
    <div class="row justify-content-start ">
        <div class="col-sm-5 mt-5 mb-3"> 
            <a href="login" class="create-link">Already have an account ?</a>
        </div>   
    </div>
</div>
<script src="js/register.js"></script>