<div class="jumbotron jumbo-style">
    <div class="container pb-1">
        <h1 class="mb-0 text-color text-font-bold">To Do</h1>      
        <h2 class="mb-0 text-color text-font-bold">Plan<span class="text-color-p"> your</span> day</h2>
        <h3 class="mb-0 text-color text-font-bold">to get<span class="text-color-p"> more</span> of it.</h3>
    </div>
</div>
TODO