<div class="row mb-2">
    <div class="col-sm-12">
        <h1>Weather</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h5>Input your city:</h5>
    </div>
    <div class="col-sm-4">
        <input type="text" name="weather-city" id="weather-city" class="form-control radius-20 input-join text-center" placeholder="e.g. Vilnius" style="padding: 5px;margin-top: -3px;">
    </div>
    <div class="col-sm-4 mt-1">
        <a href="#" class="change-button" id="weather-submit">Submit</a>
    </div>
</div>
<div id="section">
    
</div>
<script src="/js/weather.js"></script>
