<div class="jumbotron jumbo-style">
    <div class="container pb-1">
        <h1 class="mb-0 text-color text-font-bold">Weather</h1>      
        <h2 class="mb-0 text-color text-font-bold">Is it raining? </h2>
        <h3 class="mb-0 text-color text-font-bold"><span class="text-color-p"> You</span> will never forget to take an umbrella.</h3>
    </div>
</div>
LOCAL WEATHER